*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.clearfix{
    content: '';
    display: table;
    clear: both;
}

body{
    background-color: #dbdbd3;
    font-family: 'Roboto', sans-serif;
}

.flex_col{
    display: flex;
    flex-direction: column;
}

.green_head{
    height: 125px;
    background-color: #009688;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: -1;
}

.container{
    width: 70%;
    margin: 25px auto;
    height: 90vh;
    background-color: white;
}

.main_box{
    display: flex;
    width: 100%;
    height: 100%;
}

.contact_side{
    width: calc(100% / 3);
    min-width: 350px;
    height: 100%;
    background-color: white;
}

.chat_side{
    min-width: calc((100% / 3) * 2);
    background-color: lightseagreen;
    height: 100%;
    position: relative;
}



/* chat side header */
.contact_header{
    height: 75px;
    width: 100%;
    background-color: #eaeaea;
    display: flex;
    justify-content: space-between;
}

.user_info, .user_actions {
    height: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    font-size: 16px;
}



.avatar{
    border-radius: 50%;
    height: 55px;
    margin-right: 10px;
    cursor: pointer;
}

.icons_spec{
    color: #b1b1b1;
}

.icons_spec > i{
    font-size: 23px;
    margin: 0 10px;
    cursor: pointer;
}

/* chat side banner notifiche */

.cta_notifiche{
    height: 100px;
    width: 100%;
    display: flex;
    background-color: #8edafc;
    align-items: center;

}

.icon_rounded{
    border-radius: 50%;
    background-color: white;
    color: #8edafc;
    height: 50px;
    width: 50px;
    font-size: 23px;
    margin-left: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text_n_box{
    color: black;
    font-size: 15px;
    margin-left: 10px;
}

.text_n_box > a{
    color: gray;
    font-size: 12px;
    display: block;
    margin-top:7px ;
}

.text_n_box > div{
    font-weight: 500;
}

/* barra di ricerca */

.search{
    background-color: #fafafa;
    display: flex;
    justify-content: center;
    width: 100%;

}

.search input[type=text] {
    width: 85%;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin: 10px 0;
    font-size: 17px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    
}
::placeholder {
    color: lightgray;
    opacity: 1; /* Firefox */
}

.search_btn{
    margin: 10px 0;
    background-color: white;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    border-right: 1px solid rgba(211, 211, 211, 0.561);
    cursor: pointer;
}

.search_btn > i{
    color: gray;
    
}

/* chat list */

.chat_overview{
    display: flex;
    align-items: center;
    width: 100%;
    height: 80px;
    border-bottom: 1px solid rgba(211, 211, 211, 0.39);
    background-color: white;
    padding:0 10px;  
    cursor: pointer;
}

.chat_overview:hover{
    background-color:rgba(211, 211, 211, 0.164);
}

.chat_avatar{
    border-radius: 50%;
    height: 55px;
    
}

.message_overview{
    margin: 3px 0 5px 0;
    color: rgba(175, 172, 172, 0.849);
}

.date_message_overview{
    color: rgba(211, 211, 211, 0.52);
    font-size: 12px;
}

.chat_overview:hover .date_message_overview{
    color: #00968767;
}

.chat_info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 70%;
    margin-left: 10px;
    width: 100%;
}

.user_name{
    justify-self: flex-start;
    margin-top: 3px;
}

.chat_list{
    overflow-y: scroll;
    height: 100%;
}


/* chat selezionata */

.selected_chat{
    background-color: #eaeaea;
}

.selected_chat:hover{
    background-color: #eaeaea;
}

/* chat side (parte destra) */

.chat_side_header{
    height: 75px;
    width: 100%;
    background-color: #eaeaea;
    display: flex;
    justify-content: space-between;
    border-left: 1px solid rgba(211, 211, 211, 0.671);
}

.time_info{
    color: rgb(168, 168, 168);
    font-size: 12px;
}

.chat_header  i{
    margin: 0 15px;
}

/* corpo chat */

.chat_view{
    width: 100%;
    background-image: url("../img/mine.jpg");
    height: calc(100% - 80px - 75px) ;
    overflow-y: scroll;
    display: flex;
    flex-direction: column-reverse;
    padding: 10px 0;
}
/* stile messaggi, fumetti e container */
.chat_container{
    margin: 0 auto;
    height: 40%;
    width: 80%;
    z-index: 304504534;
}

.chat_container .msg{
    min-width: 60%;
    max-width: 90%;
    padding: 14px 12px;
    display: block;
    margin: 10px 0;
    border-radius: 10px;
    position: relative;
}

.right_side{
    background-color: #dcf8c6;
    float:  right;
}

.left_side{
    background-color: #ece5dd;

    float: left;
}

._chat{
    position: absolute;
    bottom: 1px;
    right: 6px;
    font-size: 10px;
}

.info_btn{
    position: absolute;
    width: 20px;
    height: 20px;
    top: 5px;
    right: 0;
    color: rgba(128, 128, 128, 0.589);
    cursor: pointer;
}

.info_btn > i {
    display: none;
}

.msg:hover .info_btn > i{
    display: block;
}


/* footer del chat side */

.chat_input{
    height: 80px;
    background-color: #f3eeea;
    display: flex;
    justify-content: space-between;
    align-items: center ;
    padding: 0 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.chat_input > .ico{
    height: 80%;
    font-size: 30px;
    display: flex;
    align-items: center;
    padding: 0 10px;
    margin: 0 5px;
    
}

.ico > i{
    color: #b1b1b1;
    cursor: pointer;
}

.messaggio{
    width: 83%;
    padding: 15px;
    border-radius: 10px;
    border: 2px solid #b1b1b194;
    margin: 0 5px;
}

.chat_input input::placeholder{
    font-size: 18px;
    
}

.hidden{
    display: none;
}

.drop_menu{
    position: absolute;
    right: 0;
    top: -5px;
    width: 140px;
    height: 70px;
    display: flex;
    flex-direction: column;
    z-index: 999999999;
    padding: 3px;
    color:black;
    font-size: 14px;
    align-items: center;
}

.info_msg{
    height: 50%;
    width: 100%;
    border-bottom: 1px solid #b1b1b194;
    background-color: #f3eeea;
    padding: 5px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.del{
    height: 50%;
    width: 100%;
    background-color: #f3eeea;
    padding: 5px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

.show{
    display: block;
}