<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <title>Document</title>
</head>
<body>
    <div class="green_head"></div>
    <div id="app" class="container">
        <div class="main_box">
            <div class="contact_side flex_col">
                <!-- header sezione contatti (parte sinistra) -->
                <div class="contact_header">
                    <!-- informazioni utente -->
                    <div class="user_info ">
                        <img src="img/avatar_4.jpg" class="avatar">
                        <span>Nome utente</span>
                    </div>

                    <!-- azioni utente -->
                    <div class="user_actions icons_spec">
                        <i class="fas fa-circle-notch"></i>
                        <i class="fas fa-comment-alt"></i>
                        <i class="fas fa-ellipsis-v"></i>
                    </div>
                </div>
                <!-- banner notifiche -->
                <div class="cta_notifiche">
                    <div class="icon_rounded">
                        <i class="fas fa-bell-slash"></i>
                    </div>
                    <div class="text_n_box">
                        <div>Ricevi notifiche di nuovi messaggi</div>
                        <a href="#">Attiva notifiche desktop</a>
                    </div>

                </div>
                <!-- barra di ricerca -->
                <div class="search">
                    <label for='search'class="search_btn">
                        <i class="fas fa-search"></i>
                    </label>
                    <input name="search" type="text" placeholder="Cerca o inizia una nuova chat">
                </div>
                <!-- chat list -->
                <section class="chat_list">
                    <div @click="changeCurrentChat(index)" v-for="(user , index) in contacts" class="chat_overview " :class="(currentChat == user) ? 'selected_chat' : ''">
                        <img class="chat_avatar" :src="getAvatar(user)" alt="">
                        <div class="chat_info">
                            <div class="user_name">{{user.name}}</div>
                            <div class="message_overview">{{user.messages[0].text}}</div>
                            <div class="date_message_overview">{{user.messages[0].date}}</div>
                        </div>
                    </div>
                    <!-- scroll test -->
                    <!-- <div class="chat_overview">
                        <img class="chat_avatar" src="img/avatar_8.jpg" alt="">
                        <div class="chat_info">
                            <div class="user_name">ciao</div>
                            <div class="message_overview">ciao</div>
                            <div class="date_message_overview">ciao</div>
                        </div>
                    </div>
                    <div class="chat_overview">
                        <img class="chat_avatar" src="img/avatar_8.jpg" alt="">
                        <div class="chat_info">
                            <div class="user_name">ciao</div>
                            <div class="message_overview">ciao</div>
                            <div class="date_message_overview">ciao</div>
                        </div>
                    </div>
                    <div class="chat_overview">
                        <img class="chat_avatar" src="img/avatar_8.jpg" alt="">
                        <div class="chat_info">
                            <div class="user_name">ciao</div>
                            <div class="message_overview">ciao</div>
                            <div class="date_message_overview">ciao</div>
                        </div>
                    </div>
                    <div class="chat_overview">
                        <img class="chat_avatar" src="img/avatar_8.jpg" alt="">
                        <div class="chat_info">
                            <div class="user_name">ciao</div>
                            <div class="message_overview">ciao</div>
                            <div class="date_message_overview">ciao</div>
                        </div>
                    </div>
                    <div class="chat_overview">
                        <img class="chat_avatar" src="img/avatar_8.jpg" alt="">
                        <div class="chat_info">
                            <div class="user_name">ciao</div>
                            <div class="message_overview">ciao</div>
                            <div class="date_message_overview">ciao</div>
                        </div>
                    </div>
                    <div class="chat_overview">
                        <img class="chat_avatar" src="img/avatar_8.jpg" alt="">
                        <div class="chat_info">
                            <div class="user_name">ciao</div>
                            <div class="message_overview">ciao</div>
                            <div class="date_message_overview">ciao</div>
                        </div>
                    </div>
                    <div class="chat_overview">
                        <img class="chat_avatar" src="img/avatar_8.jpg" alt="">
                        <div class="chat_info">
                            <div class="user_name">ciao</div>
                            <div class="message_overview">ciao</div>
                            <div class="date_message_overview">ciao</div>
                        </div>
                    </div>
                    <div class="chat_overview">
                        <img class="chat_avatar" src="img/avatar_8.jpg" alt="">
                        <div class="chat_info">
                            <div class="user_name">ciao</div>
                            <div class="message_overview">ciao</div>
                            <div class="date_message_overview">ciao</div>
                        </div>
                    </div>
                    <div class="chat_overview">
                        <img class="chat_avatar" src="img/avatar_8.jpg" alt="">
                        <div class="chat_info">
                            <div class="user_name">ciao</div>
                            <div class="message_overview">ciao</div>
                            <div class="date_message_overview">ciao</div>
                        </div>
                    </div>
                    <div class="chat_overview">
                        <img class="chat_avatar" src="img/avatar_8.jpg" alt="">
                        <div class="chat_info">
                            <div class="user_name">ciao</div>
                            <div class="message_overview">ciao</div>
                            <div class="date_message_overview">ciao</div>
                        </div>
                    </div> -->

                </section>    
            </div>
<!------------------------------------------------------------------- rightside-->
            <div class="chat_side flex_col">
                <!-- header sezione chat (parte destra) -->
                <div class="chat_side_header">
                    <!-- informazioni utente -->
                    <div class="user_info">
                        <img :src="getAvatar(currentChat)" class="avatar">
                        <div class="chat_info flex_col">
                            <div class="user_name">{{currentChat.name}}</div>
                            <span class="time_info">Ultimo accesso <span>{{currentChat.messages[0].date}}</span></span>

                        </div>
                    </div>

                    <!-- azioni utente -->
                    <div class="user_actions icons_spec">
                        <i class="fas fa-search"></i>
                        <i class="fas fa-paperclip"></i>
                        <i class="fas fa-ellipsis-v"></i>
                    </div>
                </div>
                <!-- corpo chat -->
                <div class="chat_view">
                    <div class="chat_body">
                        <div class="chat_container">
                            <div v-for="(message, index) in currentChat.messages" :class="(message.status == 'sent') ? 'right_side' : 'left_side'" class="right_side msg clearfix">
                                <div>{{message.text}}</div>
                                <div class="info_btn">
                                    <i class="fas fa-chevron-down"></i>
                                </div>
                                <div class="time_info _chat">{{message.date}}</div>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- zona input -->
                <div class="chat_input">
                    <div class="ico">
                        <i class="far fa-grin-alt"></i>
                    </div>
                    <input type="text" name="message" id="textInput" class="messaggio" v-model="tempText" @keyup.enter="sendMsg" placeholder="Scrivi un messaggio">

                    <div class="ico">
                        <i class="fas fa-microphone"></i>
                    </div>
                    
                </div>
            </div>
        </div>

    </div>

    <script src="js/script.js"></script>
</body>
</html>